header{
    background-color: $primaria;
    padding: 5px;

    form{
        input[type="text"]{
            background-color: $branco;
            width: 100%;
            border-radius: 100px;
            border: none;
            padding: 13px 20px;
            outline-style: none;
        }
        button {
            background: none;
            border: none;
            position: absolute;
            right: 30px;
        }
        button:focus{ 
            outline:0px;
            outline:none  
        }
    }

  .fly{
      position: absolute;
      right: 0;
  }
}

